* {
  margin: 0px;
  padding: 0px; }

nav {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  grid-area: menu; }
  nav li {
    font-size: 1.3rem;
    display: inline-block;
    padding: 5px; }
    nav li a {
      color: #bb3b3b;
      font-style: oblique; }
  nav div {
    display: flex;
    justify-content: center; }
  nav input {
    margin: 5px; }

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(to bottom, rgba(38, 28, 129, 0.226), white); }

footer {
  grid-area: footer;
  display: grid;
  grid-template-areas: "copy ayuda";
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to top, #ca757583, white); }
  footer section {
    grid-area: ayuda;
    display: flex;
    flex-direction: row; }
  footer p {
    grid-area: copy;
    color: #bb3b3b;
    font-size: 20px;
    margin: 10px; }

/*Estilos generales*/
/*Index*/
.contenidoPrincipal {
  grid-area: cP;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap; }

.parrafo1 {
  grid-area: parrafo1;
  display: flex;
  flex-direction: row;
  padding: 20px; }
  .parrafo1 p {
    border-radius: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 40px;
    font-family: sans-serif;
    color: #9c0e0e;
    font-style: oblique;
    padding: 30px;
    margin: 10px; }
  .parrafo1 img {
    margin: 10px;
    border-radius: 30px; }

.parrafo2 {
  background-color: #ca757562; }

.container_1 {
  display: flex;
  flex-direction: column; }

aside {
  grid-area: aside; }

.sponsor {
  grid-area: sponsor;
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: #ca75756e; }
  .sponsor img {
    width: 10%; }
  .sponsor p {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-left: 30px;
    font-style: italic;
    color: #bb3b3b;
    font-size: 20px; }

.grilla {
  display: grid;
  grid-template-areas: "cabeza" "cP" "parrafo1" "aside" "sponsor" "footer"; }

/*SMARTPHONE*/
@media (max-width: 500px) {
  /*Index*/
  nav ul {
    display: flex;
    flex-direction: column; }
    nav ul div {
      display: flex;
      flex-direction: column; }
  .parrafo1 {
    flex-direction: column; }
    .parrafo1 p {
      font-size: 20px; }
  aside {
    flex-direction: column; }
  .sponsor {
    flex-direction: column; }
    .sponsor img {
      width: 30%; }
  footer {
    margin: 0px;
    padding: none;
    margin: none; }
    footer p {
      font-size: 1rem;
      font-weight: 300; }
  /*Index*/ }

/*Nosotros*/
main p {
  display: flex;
  align-content: center;
  flex-wrap: wrap; }

.sponsors {
  background-color: #bb3b3b34;
  grid-area: sponsors; }

.imagenNosotros1 {
  grid-area: im1;
  display: flex;
  flex-direction: row; }
  .imagenNosotros1 p {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ca7575;
    font-style: oblique; }

.imagenNosotros {
  margin: 20px;
  border-radius: 20px; }

.patrocinio1 {
  display: flex;
  justify-content: center;
  color: #ca7575;
  font-size: 20px; }

.patrocinio {
  font-size: 17px;
  display: flex; }
  .patrocinio img {
    margin: 20px; }
  .patrocinio p {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    font-family: sans-serif;
    color: #ca7575; }

.grilla2 {
  display: grid;
  grid-template-areas: "cabeza" "im1" "sponsors" "footer"; }

@media (min-width: 501px) and (max-width: 1023px) {
  /*Nosotros*/
  .imagenNosotros1 {
    flex-direction: column; }
    .imagenNosotros1 img {
      width: 96%; }
    .imagenNosotros1 p {
      padding: 40px;
      font-size: 25px; }
  .p1 {
    grid-area: p1;
    width: 60%; }
  .p2 {
    grid-area: p2;
    width: 60%; }
  .p3 {
    grid-area: p3;
    width: 60%; }
  .t1 {
    grid-area: t1;
    margin: 10px; }
  .t2 {
    grid-area: t2;
    margin: 10px; }
  .t3 {
    grid-area: t3;
    margin: 10px; }
  .patrocinio {
    display: grid;
    grid-template-areas: "p1 t1" "p2 t2" "p3 t3";
    grid-template-columns: 20% auto; }
  /*Nosotros*/ }

@media (max-width: 500px) {
  /*Nosotros*/
  .imagenNosotros1 {
    flex-direction: column; }
    .imagenNosotros1 img {
      width: 96%; }
    .imagenNosotros1 p {
      padding: 40px;
      font-size: 25px; }
  .p1 {
    grid-area: p1;
    width: 80%; }
  .p2 {
    grid-area: p2;
    width: 80%; }
  .p3 {
    grid-area: p3;
    width: 80%; }
  .t1 {
    grid-area: t1;
    margin: 10px; }
  .t2 {
    grid-area: t2;
    margin: 10px; }
  .t3 {
    grid-area: t3;
    margin: 10px; }
  .patrocinio {
    display: grid;
    grid-template-areas: "p1 t1" "p2 t2" "p3 t3";
    grid-template-columns: 20% auto; }
  /*Nosotros*/ }

.titulos {
  display: flex;
  justify-content: center;
  color: #bb3b3b;
  font-size: 40px;
  margin-right: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

@media (min-width: 501px) and (max-width: 1023px) {
  .menuCatalogo {
    flex-direction: column; } }

@media (max-width: 500px) {
  .catalogos {
    display: flex;
    justify-content: center; } }

@keyframes animacionCatalogo {
  0% {
    transform: scale(100%); }
  25% {
    transform: scale(200%); }
  50% {
    transform: scale(150%); }
  100% {
    transform: scale(100%); } }

.animacionCatalogo:hover {
  animation-name: animacionCatalogo;
  animation-duration: 13s; }

.preguntasFrecuentes section {
  display: flex;
  flex-direction: column;
  color: #bb3b3b;
  font-size: 20px;
  margin: 20px; }
  .preguntasFrecuentes section p {
    margin-bottom: 10px;
    margin-left: 20px; }
  .preguntasFrecuentes section h2 {
    font-size: 40px;
    margin: 10px; }

.preguntasFrecuentes div h2 {
  color: #bb3b3b;
  font-size: 30px;
  margin: 10px; }

.preguntasFrecuentes div h3 {
  color: #bb3b3b;
  font-size: 20px;
  margin-left: 100px;
  margin-bottom: 80px; }

.contactos {
  display: flex;
  flex-direction: row; }

.contacto form {
  display: flex;
  justify-content: center; }

fieldset {
  margin: 20px;
  border-radius: 5px; }

legend {
  color: #374b73;
  font-size: 20px; }

label {
  color: #374b73;
  font-size: 20px; }

input {
  height: 30px; }

.contacto h2 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  background-color: white;
  font-style: italic; }

.sobre {
  height: 60px;
  border-radius: 5px; }

form {
  display: flex;
  flex-direction: column;
  border: #bb3b3b double; }

main {
  grid-area: contacto; }

header {
  grid-area: cabeza; }

footer {
  grid-area: footer; }

.grilla3 {
  display: grid;
  grid-template-areas: "cabeza" "contacto" "footer"; }

@media (min-width: 501px) and (max-width: 1023px) {
  form {
    flex-direction: column; }
  .carucel {
    display: none; } }

@media (max-width: 500px) {
  .carucel {
    display: none; }
  form {
    flex-direction: column;
    background-image: none;
    padding: 20px;
    margin: 20px;
    border: #bb3b3b double; }
  fieldset {
    margin: 20px;
    padding: 20px;
    border-radius: 5px; }
  legend {
    color: #374b73;
    font-size: 20px; }
  label {
    color: #374b73;
    font-size: 20px; }
  input {
    height: 30px; }
  .contacto h2 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    background-color: white;
    font-style: italic; }
  .sobre {
    display: flex;
    flex-direction: column;
    height: 150px; }
  .enQue {
    display: flex;
    flex-direction: column; }
  textarea {
    height: 200px;
    width: 95%; } }
