/*Index*/
.contenidoPrincipal{
    grid-area: cP;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.parrafo1d{
    border-radius: 30px;
    margin: 10px;
}
.parrafo1{
    display: flex;
    flex-direction: row;
    padding: 20px;
    img{
        @extend .parrafo1d;
    }
    p{
        @extend .parrafo1d;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 30px;
        font-family: sans-serif;
        color: #9c0e0e;
        font-style: oblique;
        padding: 30px;
    }
}

.parrafo2{
    background-color: #ca757562;
    
}
.container_1{
    display: flex;
    flex-direction: column;
}

aside{
    grid-area: aside;
}

.sponsor{
    grid-area: sponsor;
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: #ca75756e;
    img{
        width: 10%;
    }
    p{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        margin-left: 30px;
        font-style: italic;
        color: $colorP;
        font-size: 20px;
    }
}
.grilla{
    display: grid;
    grid-template-areas: 
    "cabeza"
    "cP"
    "parrafo1"
    "aside"
    "sponsor"
    "footer";
}

/*SMARTPHONE*/
@media (max-width: 500px) {
    /*Index*/
    nav ul{
        display: flex;
        flex-direction: column;
        div{
            display: flex;
            flex-direction: column;
        }
    }
    .parrafo1{
        flex-direction: column;
        p{
            font-size: 20px;
        }
    }
    aside{
        flex-direction: column;
    }
    .sponsor{
        flex-direction: column;
        img{
            width: 30%;
        }
    }
    footer{
        margin: 0px ;
        padding: none;
        margin: none;
        p{
            font-size: 1rem;
            font-weight: 300;
        }
    }
    /*Index*/
}

//Desafio SASS - No se utilizara en el proyecto final

@mixin sizes($ancho, $altura){
    height: $altura;
    width: $ancho;
}

$name-color: (caja1, caja2, caja3, caja4, caja5);
$mapa_colores: (
        caja1: #f05d5d,
        caja2: #1f831f,
        caja3: #151b6e,
        caja4: #5daef0,
        caja5: #bdf05d
    );
@each $name-color, $valor in $mapa_colores {
    .cajas-sass .#{$name-color}{
        background-color: $valor;
        margin: 10px;
        border: black;
        @include sizes(1000px,150px);
    }
}

