/*Nosotros*/
main p{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.sponsors{
    background-color: #bb3b3b34;
    grid-area: sponsors;
}
.imagenNosotros1{
    grid-area: im1;
    display: flex;
    flex-direction: row;
    p{
        font-size: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: $colorS;
        font-style: oblique;
    }
}
.imagenNosotros{
    margin: 20px;
    border-radius: 20px;
}
.patrocinio1{
    display: flex;
    justify-content: center;
    color: $colorS;
    font-size: 20px;
}
.patrocinio{
    font-size: 17px;
    display: flex;
    img{
        margin: 20px;
    }
    p{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        font-family: sans-serif;
        color: $colorS;
    }
}
.grilla2{
    display: grid;
    grid-template-areas: 
    "cabeza"
    "im1"
    "sponsors"
    "footer";
}

@media (min-width: 501px) and (max-width: 1023px) {
    /*Nosotros*/
    .imagenNosotros1{
        flex-direction: column;
        img{
            width: 96%;
        }
        p{
            padding: 40px;
            font-size: 25px;
        }
    }
    .p1{
        grid-area: p1;
        width: 60%;
    }
    .p2{
        grid-area: p2;
        width: 60%;
    }
    .p3{
        grid-area: p3;
        width: 60%;
    }
    .t1{
        grid-area: t1;
        margin: 10px;
    }
    .t2{
        grid-area: t2;
        margin: 10px;
    }
    .t3{
        grid-area: t3;
        margin: 10px;
    }
    .patrocinio{
        display: grid;
        grid-template-areas: 
        "p1 t1"
        "p2 t2"
        "p3 t3";
        grid-template-columns: 20% auto;
    }
    /*Nosotros*/

}

@media (max-width: 500px) {
    /*Nosotros*/
    .imagenNosotros1{
        flex-direction: column;
        img{
            width: 96%;
        }
        p{
            padding: 40px;
            font-size: 25px;
        }
    }
    .p1{
        grid-area: p1;
        width: 80%;
    }
    .p2{
        grid-area: p2;
        width: 80%;
    }
    .p3{
        grid-area: p3;
        width: 80%;
    }
    .t1{
        grid-area: t1;
        margin: 10px;
    }
    .t2{
        grid-area: t2;
        margin: 10px;
    }
    .t3{
        grid-area: t3;
        margin: 10px;
    }
    .patrocinio{
        display: grid;
        grid-template-areas: 
        "p1 t1"
        "p2 t2"
        "p3 t3";
        grid-template-columns: 20% auto;
    }
    /*Nosotros*/

}