.preguntasFrecuentes section{
    display: flex;
    flex-direction: column;
    color: $colorP;
    font-size: 20px;
    margin: 20px;
}
    
.preguntasFrecuentes section p{
    margin-bottom: 10px;
    margin-left: 20px;
}
    
.preguntasFrecuentes section h2{
    font-size: 40px;
    margin: 10px;
}
.preguntasFrecuentes div h2{
    color: $colorP;
    font-size: 30px;
    margin: 10px;
}
.preguntasFrecuentes div h3{
    color: $colorP;
    font-size: 20px;
    margin-left: 100px;
    margin-bottom: 80px;
}

